workflow/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "0c969db1-9378-46fb-9ba1-c2828782fef1",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": null
    },
    {
      "parameters": {
        "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query__q_', ``, 'string') }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApiTool",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "1aa2e848-d3a0-49b8-9e2b-23726cda6077",
      "name": "Google search in SerpApi",
      "credentials": {
        "serpApi": {
          "id": "zhbYofJzrwe4jVAg",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "f429871a-e511-49c8-a6f6-b4b7dac7c414",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "in2w5KTCw7WbtOUW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        16
      ],
      "id": "9778b72a-332c-4c2b-80a5-c3fbae4be3ff",
      "name": "Webhook",
      "webhookId": "be817d0f-a0f6-4a88-8be0-7c69af029de3"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "453948d6-d1f9-412d-b532-f793b03e8aa1",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Google search in SerpApi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "437bf2e8-3f1b-457d-9fdc-0dec17c24355",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54da9cf4d63206a2aa9c1b4bc8ff3ad37a4818e01b1d508ab430c5c619331d99"
  },
  "nodeGroups": [],
  "id": "kB4wWcRn0r6XGuf7",
  "tags": []
}